{% macro photo(photo, current_slug, config) %}
{% set slug = photo.slug %}
{% set filename = photo.filename %}
{% set safe_name = filename | urlencode %}

{% if slug == current_slug %}
    {% set target_class = "target" %}
{% else %}
    {% set target_class = "" %}
{% endif %}

<li class="item {{ target_class }}" id="id-{{ slug }}" title="{{ slug }}">
    <img loading="lazy"
         src="/photos/thumbnail/{{ safe_name }}"
         srcset="/photos/thumbnail/{{ safe_name }} 640w, /photos/large/{{ safe_name }} 2048w"
         sizes="(min-width: 900px) 33vw, (min-width: 600px) 50vw, 100vw"
         width="{{ photo.width }}" height="{{ photo.height }}"
         alt="{{ slug }}" />
    <a class="open" href="/{{ slug }}/" data-target="id-{{ slug }}">Open</a>
    <a class="close" href="/">Close</a>
    {% if photo.prev_slug %}
    <a href="/{{ photo.prev_slug }}/" data-target="id-{{ photo.prev_slug }}" class="previous" title="Previous">
        <span>Previous</span>
    </a>
    {% endif %}
    {% if photo.next_slug %}
    <a href="/{{ photo.next_slug }}/" data-target="id-{{ photo.next_slug }}" class="next" title="Next">
        <span>Next</span>
    </a>
    {% endif %}
    <div class="actions">
        {% if config.extra.allow_image_sharing %}
        <a class="share" href="#" data-share-slug="/{{ slug }}/" data-share-title="{{ slug }}" title="Share">Share</a>
        {% endif %}
        {% if config.extra.allow_original_download %}
        <a class="download" href="/photos/original/{{ safe_name }}" download="{{ safe_name }}" title="Download">Download</a>
        {% endif %}
    </div>
</li>
{% endmacro photo %}
