<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<title>Not Even a Stopped Clock</title>
	<link rel="stylesheet" type="text/css" media="screen" href="/css/master.css" />
	<link rel="shortcut icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="shortcut icon" type="image/png" href="/favicon.png" />
</head>
<body>
	<div class="four-oh-four">
		<h1>Not Even a Stopped Clock</h1>
		<p>404 - Page not found</p>
		<a href="/">Go home</a>
	</div>
</body>
</html>
