<head>
	<meta charset="utf-8">
	<meta name="google" content="notranslate" />
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	{% if not config.extra.allow_indexing %}
	<meta name="robots" content="noindex" />
	{% endif %}
	{% set page_title = page.title | default(value=config.title) %}
	<title data-title="{{ config.title }}">{{ page_title }}</title>
	<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ config.base_url }}/feed.xml">
	<meta property="og:title" content="{{ page_title }}">
	<meta property="og:type" content="website">
	{% if page.extra.slug is defined %}
	<meta property="og:url" content="{{ config.base_url }}/{{ page.extra.slug }}/">
	{% else %}
	<meta property="og:url" content="{{ config.base_url }}/">
	{% endif %}
	{% if page.extra.filename is defined %}
	{% set og_image = config.base_url ~ "/photos/large/" ~ page.extra.filename %}
	{% else %}
	{% set og_image = config.base_url ~ "/social-preview.png" %}
	{% endif %}
	<meta property="og:image" content="{{ og_image }}">
	<meta property="og:site_name" content="{{ config.title }}">
	<meta property="og:description" content="{{ config.description }}">
	<meta name="thumbnail" content="{{ og_image }}">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{ page_title }}">
	<meta name="twitter:description" content="{{ config.description }}">
	<meta name="twitter:image" content="{{ og_image }}">
	<meta name="description" content="{{ config.description }}">
	<link rel="stylesheet" type="text/css" media="screen" href="/css/master.css" />
	<link rel="shortcut icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="shortcut icon" type="image/png" href="/favicon.png" />
	<link rel="apple-touch-icon" href="/touch-icon-iphone.png" />
	<link rel="mask-icon" href="/favicon.svg" />
	{% if config.extra.mastodon_username %}
	<link rel="me" href="https://mastodon.social/@{{ config.extra.mastodon_username }}">
	{% endif %}
</head>
