{% import "macros/photo.html" as photo_macros %}

<!doctype html>
<html class="notranslate" translate="no">
{% include "head.html" %}
<body>
	{% set photo_data = load_data(path="data/photos.json") %}
	{% set photos = photo_data.photos %}
	<ul class="grid" id="grid">
		{% for p in photos %}
		{{ photo_macros::photo(photo=p, current_slug="", config=config) }}
		{% endfor %}
	</ul>
	<ul class="links">
		{% if config.extra.mastodon_username %}
		<li class="mastodon"><a rel="me" href="https://mastodon.social/@{{ config.extra.mastodon_username }}" title="@{{ config.extra.mastodon_username }} on Mastodon">Mastodon</a></li>
		{% endif %}
		{% if config.extra.github_username %}
		<li class="github"><a rel="me" href="https://github.com/{{ config.extra.github_username }}" title="@{{ config.extra.github_username }} on Github">Github</a></li>
		{% endif %}
		{% if config.extra.instagram_username %}
		<li class="instagram"><a rel="me" href="https://instagram.com/{{ config.extra.instagram_username }}" title="@{{ config.extra.instagram_username }} on Instagram">Instagram</a></li>
		{% endif %}
		{% if config.extra.custom_link_url and config.extra.custom_link_name %}
		<li class="link"><a rel="me" href="{{ config.extra.custom_link_url }}" title="{{ config.extra.custom_link_name }}">{{ config.extra.custom_link_name }}</a></li>
		{% endif %}
	</ul>
	{% include "javascript.html" %}
</body>
</html>
